<!DOCTYPE html>

<html lang="en-US">
<head>
	<meta charset="UTF-8">
	<title>Wall Street</title>
	<script>
		localStorage.setItem("begMulah", "0");
		function beg() {
			var currMon = localStorage.getItem("begMulah");
			currMon = parseInt(currMon);
			currMon = currMon + 5;
			localStorage.setItem("begMulah", currMon);
			document.getElementById("begMoney").value = currMon;
		}
	</script>
</head>

<body>
	<div class="container">
		<h1>Wall Street</h1>
		
		Currently you are a <%= position %>.
		<br>
		<br>
		Your balance is <%= balance %>
		<% if(position == "Hobo") {%>
			<button onClick="beg()">Beg</button><br><br>

			<form action="/countBegMoney" method="POST">
				<input style="display: none;" name="begMoney" id="begMoney">
				<input type="submit" value="Count Money you got from beggin">
			</form>
		<% } %>

	</div>
</body>
</html>
